body{
    background-color: #D8A7B1;
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    background: #B8C9A9;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.form-control{
    width: 400px;
}

.custom-button {
    font-size: 18px;
    color: #222;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

/* Efeito hover nos textos */
.custom-button:hover {
    background-color: #FFF0AE;
    border-radius: 15px;
}